INSERT INTO IntrinsicEquipment (monster, item) VALUES (
    (SELECT monster.id FROM MonsterSample monster WHERE monster.name = '%s'),
    (SELECT item.id FROM ItemSample item WHERE item.name = '%s'));