INSERT INTO StatModifer (item, stat, operator, value) VALUES (
    (SELECT item.id FROM ItemSample item WHERE item.name = '%s'),
    (SELECT stat.id FROM Stat stat WHERE stat.name = '%s'), '%s', %s);


